[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"

[packages]
requests = "*"
cryptography = "*"
mutagen = "*"
tqdm = "*"
click = "*"
pyinquirer = "*"
